<nav class="main-nav">
    <div class="container">
        <div class="logo">
            <a href="{{ url('/') }}">
                <h1>TopoclimbCH</h1>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url('/') }}" class="{{ is_active('/') }}">Accueil</a></li>
            <li><a href="{{ url('/regions') }}" class="{{ is_active('/regions') }}">Régions</a></li>
            <li><a href="{{ url('/sites') }}" class="{{ is_active('/sites') }}">Sites</a></li>
            <li><a href="{{ url('/sectors') }}" class="{{ is_active('/sectors') }}">Secteurs</a></li>
            <li><a href="{{ url('/routes') }}" class="{{ is_active('/routes') }}">Voies</a></li>
            
            {% if auth_user %}
                <li class="dropdown">
                    <a href="#">{{ auth_user.prenom }} {{ auth_user.nom }}</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('/profile') }}">Profil</a></li>
                        <li><a href="{{ url('/ascents') }}">Mes ascensions</a></li>
                        <li><a href="{{ url('/logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ url('/login') }}" class="{{ is_active('/login') }}">Connexion</a></li>
                <li><a href="{{ url('/register') }}" class="{{ is_active('/register') }}">Inscription</a></li>
            {% endif %}
        </ul>
        <button class="mobile-menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>