<div class="sector-header" style="border-color: {{ sector.color }}">
    {% if media|length > 0 %}
        <div class="sector-gallery">
            {% if mainImage %}
                <div class="main-image-container">
                    <a href="{{ mainImage }}" class="thumbnail">
                        <img src="{{ mainImage }}" alt="{{ sector.name }}" class="main-image">
                    </a>
                </div>
            {% endif %}

            {% if media|length > 1 %}
                <div id="lightgallery" class="thumbnail-gallery">
                    {% for item in media %}
                        {% set fullImage = url('/uploads/' ~ item.file_path) %}
                        {% set thumbImage = url('/uploads/thumbnails/' ~ item.file_path) %}
                        <a href="{{ fullImage }}" class="thumbnail" data-lg-size="1406-1390">
                            <img src="{{ thumbImage }}" alt="" loading="lazy">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
